<!-- 修改成功页面 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery Mobile</title>

  <style media="screen">
  #hed-fot{
    height: 10%;
    background:rgb(43, 185, 7) ;
    font-size: 20px;
    color: rgb(34, 58, 214);
    text-align: center;
  }
  </style>
</head>
<link rel="stylesheet" href="./css/jquery.mobile-1.4.5.min.css" media="screen" title="no title">
<script src="./js/jquery-1.12.4.min.js"></script>
<script src="./js/jquery.mobile-1.4.5.min.js"></script>
<body>
  <div data-role='page'>
    <div data-role="header" data-position="fixed" id="hed-fot"><h1>修改密码</h1></div>
    <div role="main">
      <h1 style="color:red;font-size:30px;">恭喜你,获得新密码</h1>
       <a href="/" data-role="button" id="link-a">返回登录</a
    </div>
    <div data-role="footer" data-position="fixed" id="hed-fot"></div>
  </div>

</body>
</html
