<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>主页</title>
  </head>
  <body>
    <ul>
    <!--info2是每次遍历数组之后拿出来的一条json数据  -->
    <% info1.forEach(function(info2){ %>
      <div>
         <li>name:<%= info2.name %></li>
         <li>age:<%= info2.age %></li>
      </div>
    <% }); %>
  </ul>
  </body>
</html>
