<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>主页</title>
  </head>
  <body>
    <!-- 传过的来是json格式的数据,用<%= name %>取name的属性值 -->
        <!--传过来的参数可以多但是不能少于这边接受的参数个数  -->
  <% include ./header %>
    <div>
      <p>北京是个美丽的地方</p>
    </div>
  <% include ./footer %>
  </body>
</html>
